@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 0%;
    }
}   

.mainbox{
    /* padding: 20px; */
    /* box-shadow: 5px 10px black; */
    border-radius: 25px;
    width: 100%;
    height: 85vh;
    margin: auto;
    z-index: -1;
    background: linear-gradient(-45deg,  #C1E1C1,#FAC898, #eddfff, #ffdbf7, #ffdbe5, #ffdbf7, #eddfff,#b2cde8,#FFFAA0);
    background-size: 300% 300%;
    animation: gradient 3s ease infinite;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.cookiesbox{
    position: absolute;
    padding: 20px;
    width: 20%;
    left: 38%;
    top: 25%;
    margin : auto;
    /* box-shadow: 5px 10px black; */
    border-radius: 25px;
    height: 25vh;
    background-color: #E4D3FF;
    z-index:1;
    font-family: 'Lato', sans-serif;
}

.humanChat{
    position : relative;
    z-index: 9999;
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
    padding: 20px;
    /* box-shadow: 5px 3px white; */
    border-radius: 50px;
    width: 71.2%;
    height:auto;
    float: left;
    background-color: #F2D7F2;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
}

.aiChat{
    position : relative;
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
    padding: 20px;
    /* box-shadow: 5px 5px white; */
    border-radius: 50px; /*  */
    width: 70%;
    height:auto;
    background-color: #E4D3FF;
    margin-left : 30px;
    font-family: 'Lato', sans-serif
}

.date {
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}