@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 0%;
    }
}   


.mainbox{
    padding: 20px;
    box-shadow: 5px 10px black;
    border-radius: 25px;
    width: 60%;
    height:85vh;
    margin: auto;
    z-index: -1;
    background: linear-gradient(-45deg,#C1E1C1, #C3B1E1, #A7C7E7, #F8C8DC);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;

}
.aiChat{
    padding: 20px;
    box-shadow: 5px 10px black;
    border-radius: 25px;
    width: 70%;
    height:auto;
    background-color: #FAC898;


}
.humanChat{
    padding: 20px;
    box-shadow: 5px 10px black;
    border-radius: 25px;
    width: 70%;
    height:auto;
    background-color: #C1E1C1;

}


.cookiesbox{
    width: 30%;
    position: absolute;
    left: 40%;
    top: 20%;
    margin : auto;
    padding: 20px;
    box-shadow: 5px 10px black;
    border-radius: 25px;
    height:42vh;
    background-color: paleturquoise;
    z-index:1;

}
